*{
    margin: 0px;
    padding: 0px;
}

.banner{
    
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(./resources/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 16px;
    margin-left: 100px;
    margin-right: 140px;
    margin-top: 50px;
}

.banner-text{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the height of the container takes up the full height of the parent */
}

.banner-text h6,
.banner-text h1 {
    margin: 0; /* Remove default margin */
}
.banner-text1{
    
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.banner-text2{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
}

/* discount style */
.discount-65{
    margin-top: 120px;
    margin-left: 400px;
    margin-right: 400px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.discount-info{
    margin-top: 48px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.discount-all{
    margin-top: 16px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.discount-img{
    margin-top: 48px;
    width: 802.9px;
    height: 500px;
    margin-left: 350px;
}

/* welcome part style  */
.welcome{
background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(./resources/Vectorrr.png);

margin-top: 120px;
margin-left: 100px;
margin-right: 140px;
margin-bottom: 120px;
width: 1320px;
height: 600px;
border-radius: 16px;
color: #FFF;
}
.welcome-img{
    position: relative;
    bottom: 360px;
    margin-left: 860px;
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.welcome-text{
    position: relative;
    top: 120px;
    margin-left: 126px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;

}
.welcome-text2{
    margin-left: 126px;
    margin-top: 126px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.welcome-btn{
    margin-left: 158px;
    margin-top: 48px;
    color: #FFF;
    border: 1px solid black;
    background-color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/* price part style        */
.Price{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 200px;
    width: 1320px;
    height: 482px;

    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.Price-text{
    position: relative;
    top: 150px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Price-red{
    color: #F00;
}

.Price-btn{
    margin-top: 200px;
    margin-left: 608px;
    padding: 16px;
    border: #F00;
    border-radius: 10px;
    background-color: red;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}


/* offer part style  */

.offer{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
}

.new-offer {
    color: #F00;
/* text-align: center; */
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.new-offer2{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-top: 16px;
margin-bottom: 22px;
}

.new-offer3{
    margin-right: 70px;
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.rectangular{
position: relative;
top: -60px;
width: 463px;
height: 463px;
border-radius: 463px;
border: 15px solid #F00;


}

.rectangular-img{

    margin: 49px;
    width: 364.844px;
height: 364.844px;
border-radius: 364.844px;
background: url(./resources/Rectangle\ 2.png), lightgray -91.279px 0px / 150.038% 100% no-repeat;
}

.new-part3{
    margin-left: 118px;
}

.new-2024{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.new-text{
 width: 276px;
 color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */   
margin-top: 40px;
margin-bottom: 40px;
}

.new-happy{
    width: 140px;
height: 140px;
flex-shrink: 0;
}

/* Holyday part style */

.holiday-p{
    margin-top: 120px;
    margin-left: 568px;
    color: #070211;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.holiday-p1{
    margin-top: 16px;
    margin-bottom: 28px;
    margin-left: 400px;
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 1100;
    line-height: normal;
   
}
.holyday-red{
 color: #F00;
}

.holiday-p2{
    margin-left: 200px;
    width: 1068px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
}

.holyday-img{
    display: flex;
}

.holiday-img1{
    position: relative;
    margin-top: 500px;
    margin-left: 100px;
    margin-right: 140px;
    width: 1320px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
    background: #F00;
}
.holiday-img2{
    position: relative;
    top: -662PX;
    margin-left: 990px;
    width: 429px;
height: 433px;
border-radius: 16px 16px 0px 0px;
background: url(./resources/Rectangle\ 1.png), lightgray -59.98px 0px / 151.553% 100% no-repeat;
}

.img-box{
    position: relative;
    top: -400px;
    
}


.img-50{
    position: relative;
    top: -950px;
    margin-left: 886px;
    width: 206.841px;
    height: 206.841px;
    flex-shrink: 0;
}


.best{
    margin-left: 100px;
    position: relative;
    margin-top: -500px;
}
.best-p{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.best-h{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}

.best-p2{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}


/* 6 image style */
.grid-container {
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  /* Subscribe Newsletter style  */

  .news{
    margin-left: 100px;
    width: 1320px;
height: 616px;
flex-shrink: 0;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
  }

  .img-gmail{
    width: 150px;
height: 150px;
margin-top: 80px;
margin-left: 585px;
  }

.news-h1{
    margin-left: 200;
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}

.news-p2{
    margin-left: 212px;
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}

.input-container {
    position: relative;
    display: inline-block; /* Ensures elements are displayed in the same line */
    margin-left: 330px;
    margin-top: 48px;
}

.email-input {
    width: 648px;
    padding-right: 100px; /* Reserve space for the button */
height: 72px;
border: #FFF 3px;
border-radius: 50px;
background: #FFF;
padding-left: 30px;

}

.submit-button {
    color: #FFF;
    position: absolute;
    top: 0;
    right: 0;
    width: 210px;
height: 72px;
flex-shrink: 0;
border: #FFF 3px;
border-radius: 0px 50px 50px 0px;
background: #F00;
}

/* fottert style  */

.fotter-container{
    margin-top: 120px;
    width: 1600px;
height: 609px;
background: #070211;
}

.my-p{
    position: relative;
    top: 5px;
    margin-top: 120px;
    margin-left: 100px;
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;

}



.My-div{
    display: flex;
}

.my-icon{
    position: relative;
    right: 50px;
    margin-top: 300px;
    padding-left: 100px;
}

.my-2017{
    margin-left: 100px;
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.mybtn{
    position: relative;
    margin-left: 1215px;
    color: #FFF;
    background-color: #070211;
    border: #070211 3px;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}